
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<header>
    <div class="container_cus">
        <div class="top__header">
            <img src="../assets/images/home/top-header.png"
                 class="top__header-img"
                 alt="" />
        </div>
    </div>
    <div class="bottom__header">
        <div class="container_cus bottom__header-container">
            <div class="bottom_header-left">
                <div class=""
                     style="
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                            ">
                    <input type="text"
                           class="form-control"
                           style="height: 100%"
                           placeholder="Search..." />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            Search
                        </button>
                    </div>
                </div>
            </div>
            <div class="bottom__header-center">
                <img src="../assets/images/home/logo.png" alt="" />
            </div>
            <div class="bottom__header-right">
                <div class=""
                     style="
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                            ">
                    <input type="text"
                           class="form-control"
                           style="height: 100%" />
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="submit">
                            <span class="bi bi-cart"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>