@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quản trị Admin</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="~/assets/dashboard/css/main.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <!-- or -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/css/bootstrap.min.css" integrity="sha512-Ylu/jd6n5U6A4Q4waxYYq3vDlcpCJ8xGyD14+XIVaJ2M83IKW8be5ZgGkZSL42vZbJxWd8lELyapX+LlQJhkg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-4/uV+1a6mNa8h2ZlQte9Qqy+6JzPYcJZpjklDpR1mDMMIAdAzdE8tXnJg7OYKJqw97L7bI+BZwTtM+GxOJWV7Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.2/js/bootstrap.min.js" integrity="sha512-3mXr50REoB94I0cHbPs31CITgRZ5E5/KnU6KLzU6DDYX6Svdr6JLW8x3q6lIXc2FL+iop33XY11e2QbF+M9X1A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- CSS của SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.min.css">

    <!-- JavaScript của SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.16.3/dist/sweetalert2.all.min.js"></script>
</head>

<body>
    <!-- Navbar-->
    <header class="app-header">
        <!-- Sidebar toggle button--><a class="app-sidebar__toggle" href="#" data-toggle="sidebar"
                                        aria-label="Hide Sidebar"></a>
        <!-- Navbar Right Menu-->
        <ul class="app-nav">


            <!-- User Menu-->
            <li>
                <a class="app-nav__item" asp-controller="home" asp-action="index"><i class='bx bx-log-out bx-rotate-180'></i> </a>

            </li>
        </ul>
    </header>
    <!-- Sidebar menu-->
    <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
    <aside class="app-sidebar">
        <div class="app-sidebar__user">
            <img class="app-sidebar__user-avatar" src="~/assets/dashboard/img/avtAdmin.jpg" width="50px"
                 alt="User Image">
            <div>
                <p class="app-sidebar__user-name"><b>Ngô Trung Kiên</b></p>
                <p class="app-sidebar__user-designation">Chào mừng bạn trở lại</p>
            </div>
        </div>
        <hr>
        <ul class="app-menu">
            <li>
                <a class="app-menu__item haha" asp-controller="admin" asp-action="index">
                    <i class='app-menu__icon bx bx-tachometer'></i><span class="app-menu__label">Bảng điều khiển</span>
                </a>
            </li>
           
            <li>
                <a class="app-menu__item" asp-controller="UsersAdmin" asp-action="GetAllUsers">
                    <i class='app-menu__icon bx bx-user-voice'></i><span class="app-menu__label">Quản lý khách hàng</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" asp-controller="SmartPhonesAdmin" asp-action="GetAllSmartPhones">
                    <i class='app-menu__icon bx bx-purchase-tag-alt'></i><span class="app-menu__label">Quản lý điện thoại</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" asp-controller="AccessoriesAdmin" asp-action="GetAllPhoneAccessories">
                    <i class='app-menu__icon bx bx-headphone'></i><span class="app-menu__label">Quản lý phụ kiện</span>
                </a>
            </li>
            <li>
                <a class="app-menu__item" asp-controller="admin" asp-action="GetAllOrders">
                    <i class='app-menu__icon bx bx-task'></i><span class="app-menu__label">Quản lý đơn hàng</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" asp-controller="admin" asp-action="SalesReport">
                    <i class='app-menu__icon bx bxs-report'></i><span class="app-menu__label">Báo cáo doanh thu</span>
                </a>
            </li>

            <li>
                <a class="app-menu__item" asp-controller="Access" asp-action="Logout">
                    <i class='app-menu__icon bx bx-log-out-circle'></i><span class="app-menu__label">Đăng xuất</span>
                </a>
            </li>
        </ul>
    </aside>
    <main class="app-content" style="margin-top:60px;">
        @RenderBody()
    </main>
    <script src="~/assets/dashboard/js/jquery-3.2.1.min.js"></script>
    <script src="~/assets/dashboard/js/popper.min.js"></script>
    <script src="https://unpkg.com/boxicons@latest/dist/boxicons.js"></script>
    <script src="~/assets/dashboard/js/bootstrap.min.js"></script>
    <script src="~/assets/dashboard/js/main.js"></script>
    <script src="~/assets/dashboard/js/plugins/pace.min.js"></script>

    <script type="text/javascript">

        //Thời Gian
        function time() {
            var today = new Date();
            var weekday = new Array(7);
            weekday[0] = "Chủ Nhật";
            weekday[1] = "Thứ Hai";
            weekday[2] = "Thứ Ba";
            weekday[3] = "Thứ Tư";
            weekday[4] = "Thứ Năm";
            weekday[5] = "Thứ Sáu";
            weekday[6] = "Thứ Bảy";
            var day = weekday[today.getDay()];
            var dd = today.getDate();
            var mm = today.getMonth() + 1;
            var yyyy = today.getFullYear();
            var h = today.getHours();
            var m = today.getMinutes();
            var s = today.getSeconds();
            m = checkTime(m);
            s = checkTime(s);
            nowTime = h + " giờ " + m + " phút " + s + " giây";
            if (dd < 10) {
                dd = '0' + dd
            }
            if (mm < 10) {
                mm = '0' + mm
            }
            today = day + ', ' + dd + '/' + mm + '/' + yyyy;
            tmp = '<span class="date"> ' + today + ' - ' + nowTime +
                '</span>';
            document.getElementById("clock").innerHTML = tmp;
            clocktime = setTimeout("time()", "1000", "Javascript");

            function checkTime(i) {
                if (i < 10) {
                    i = "0" + i;
                }
                return i;
            }
        }
    </script>

    <style>
        .pagination li {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-weight: bold;
            margin: 0 5px;
        }

            .pagination li:hover {
                background: #7fad39;
            }

                .pagination li:hover a {
                    color: #ffffff;
                }

            .pagination li.active {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #7fad39;
                border-color: #7fad39;
                color: #ffffff;
                font-weight: bold;
                margin: 0 10px;
            }

            .d-flex{
                display:flex;
              
               justify-content:center;
            }

         
    </style>
</body>

</html>