@using X.PagedList.Web.Common
@using codeBTL.Models
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<Sanpham>
<div class="row">
    <div class="col-sm-12 col-md-7">
        <div class="dataTables_paginate paging_simple_numbers" id="sampleTable_paginate">
            <ul class="pagination">
                @Html.PagedListPager(Model, page => Url.Action("GetAllSmartPhones", new { page = page, pageSize =  ViewBag.pageSize, filter = ViewBag.filter}))
            </ul>
        </div>
    </div>
</div>