
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_LayoutQLBDT.cshtml";
}

<!DOCTYPE html>
<html lang="en">
    <!--  demo.smartaddons.com/templates/html/emarket/about-us.html by AkrAm, Sat, 20 Apr 2019 20:00:24 GMT -->

    <head>
        <!-- Basic page needs
    ============================================ -->
        <title>eMarket - Multipurpose Responsive HTML5 Template</title>
        <meta charset="utf-8" />
        <meta
            name="keywords"
            content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates"
        />
        <meta
            name="description"
            content="eMarket is a powerful Multi-purpose HTML5 Template with clean and user friendly design. It is definite a great starter for any eCommerce web project."
        />
        <meta name="author" content="Magentech" />
        <meta name="robots" content="index, follow" />

        <!-- Mobile specific metas
    ============================================ -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />

        <!-- Favicon
    ============================================ -->

        <link
            rel="shortcut icon"
            type="image/png"
            href="~/assets/tranggioithieu/ico/favicon-16x16.png"
        />

        <!-- Libs CSS
    ============================================ -->
        <link
            rel="stylesheet"
            href="~/assets/tranggioithieu/css/bootstrap/css/bootstrap.min.css"
        />
        <link
            href="~/assets/tranggioithieu/css/font-awesome/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/js/datetimepicker/bootstrap-datetimepicker.min.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/js/owl-carousel/owl.carousel.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/themecss/lib.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/js/jquery-ui/jquery-ui.min.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/js/minicolors/miniColors.css"
            rel="stylesheet"
        />

        <!-- Theme CSS
    ============================================ -->
        <link
            href="~/assets/tranggioithieu/css/themecss/so_searchpro.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/themecss/so_megamenu.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/themecss/so-categories.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/themecss/so-listing-tabs.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/themecss/so-newletter-popup.css"
            rel="stylesheet"
        />

        <link
            href="~/assets/tranggioithieu/css/footer/footer1.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/header/header1.css"
            rel="stylesheet"
        />
        <link
            id="color_scheme"
            href="~/assets/tranggioithieu/css/theme.css"
            rel="stylesheet"
        />
        <link
            href="~/assets/tranggioithieu/css/responsive.css"
            rel="stylesheet"
        />

        <!-- Google web fonts
    ============================================ -->
        <link
            href="~/assets/tranggioithieu/https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700"
            rel="stylesheet"
            type="text/css"
        />
        <style type="text/css">
            body {
                font-family: "Roboto", sans-serif;
            }
        </style>
    </head>

    <body class="res layout-1">
        <div id="wrapper" class="wrapper-fluid banners-effect-5">
            <!-- Main Container  -->
            <div class="main-container container">
                <ul class="breadcrumb">
                    <li>
                        <a href="~/assets/tranggioithieu/#"
                            ><i class="fa fa-home"></i
                        ></a>
                    </li>
                    <li><a href="~/assets/tranggioithieu/#">Trang</a></li>
                    <li>
                        <a href="~/assets/tranggioithieu/#">Về Chúng Tôi</a>
                    </li>
                </ul>

                <div class="row">
                    <div id="content" class="col-sm-12 item-article">
                        <div class="row box-1-about">
                            <div class="col-md-9 welcome-about-us">
                                <div class="title-about-us">
                                    <h2>Chào mừng đến với cửa hàng</h2>
                                </div>
                                <div class="content-about-us">
                                    <div class="image-about-us">
                                        <img
                                            src="~/assets/tranggioithieu/image/catalog/about/anh-5.jpg"
                                            alt="Image Client"
                                        />
                                    </div>
                                    <div class="des-about-us">
                                        <p>
                                            Tiên phong chuyển đổi số, dẫn đầu về
                                            tư vấn, cung cấp, triển khai dịch vụ
                                            và giải pháp công nghệ – viễn thông.
                                            Đồng hành cùng với khách hàng tại 27
                                            quốc gia và vùng lãnh thổ trên toàn
                                            cầu hiện thực hóa chiến lược, mục
                                            tiêu phát triển kinh doanh dựa trên
                                            công nghệ.
                                        </p>
                                        <p>
                                            Với kinh nghiệm triển khai dự án
                                            trên phạm vi toàn cầu trong suốt hơn
                                            ba thập kỷ qua, chúng tôi giúp khách
                                            hàng vượt qua thách thức, rào cản và
                                            đạt được hiệu quả cao nhất trong
                                            hành trình chuyển đổi số. Dựa trên
                                            những công nghệ mới nhất trí tuệ
                                            nhân tạo, phân tích dữ liệu lớn,
                                            điện toán đám mây, tự động hóa, kết
                                            nối vạn vật…,
                                        </p>
                                        <p>
                                            Đưa ra những giải pháp, dịch vụ công
                                            nghệ tiên tiến giúp khách hàng chủ
                                            động, linh hoạt thích ứng trong mọi
                                            bối cảnh.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 about-info">
                                <h2 class="about-title">
                                    Chúng tôi đã làm gì?
                                </h2>
                                <div class="about-text">
                                    <p>
                                        Trong suốt nhiều năm qua, bằng những nỗ
                                        lực không mệt mỏi, trung thành với chính
                                        sách “tận tâm phục vụ khách hàng”, quyết
                                        tâm hoạt động, xây dựng phong cách phục
                                        vụ khách hàng cho tất cả các mảng kinh
                                        doanh dù mới hay cũ, lấy đó làm nền tảng
                                        tăng trưởng bền vững, hoàn thiện hình
                                        ảnh một thương hiệu gần gũi, thân thiện
                                        và hướng tới mục tiêu phục vụ khách hàng
                                        là ưu tiên hàng đầu.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 about-info">
                                <h2 class="about-title">Nhiệm vụ phát triển</h2>
                                <div class="about-text">
                                    <p>
                                        Uy tín, trách nhiệm luôn đi đầu để đảm
                                        bảo chất lượng, đem đến cho khách hàng
                                        sự an tâm tuyệt đối khi mua sắm các sản
                                        phẩm công nghệ.
                                    </p>
                                    <p>
                                        Phục vụ khách hàng là ưu tiên số 1, hoàn
                                        thiện chất lượng dịch vụ, nhân viên
                                        nhiệt tình, trung thực, chân thành, giúp
                                        khách hàng hài lòng.
                                    </p>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 about-info">
                                <h2 class="about-title">Lịch sử phát triển</h2>
                                <div class="about-text">
                                    <p>
                                        Năm 2008 mở cửa hàng chuyên bán điện
                                        thoại từ thị trường Uk. Năm 2010 mở rộng
                                        số cửa hàng và dần trở thành đối tác của
                                        các công ty điện thoại ở Việt Nam. Năm
                                        2013 khai chương chi nhánh thứ 5 của cửa
                                        hàng. Năm 2017 mở thêm trung tâm bảo
                                        hành, khai chương chi nhánh thứ 9.
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-12 our-member">
                                <div class="title-about-us">
                                    <h2>Thành Viên Của Chúng Tôi</h2>
                                </div>

                                <div class="overflow-owl-slider1">
                                    <div class="wrapper-owl-slider1">
                                        <div class="row slider-ourmember">
                                            <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                                <div class="item respl-item">
                                                    <div class="item-inner">
                                                        <div class="w-image-box">
                                                            <div class="item-image">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">
                                                                    <img src="~/assets/tranggioithieu/image/catalog/about/anh1.jpg"
                                                                         alt="Image Client" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-member">
                                                            <h2 class="cl-name">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">Ngô Kiên </a>
                                                            </h2>
                                                            <p class="cl-job">
                                                                Trưởng Nhóm
                                                            </p>
                                                            <p class="cl-des">

                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <a class="fa fa-f"
                                                                       title="Facebook"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-t"
                                                                       title="Twitter"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-g"
                                                                       title="google"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-s"
                                                                       title="skyper"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                                <div class="item respl-item">
                                                    <div class="item-inner">
                                                        <div class="w-image-box">
                                                            <div class="item-image">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">
                                                                    <img src="~/assets/tranggioithieu/image/catalog/about/anh2.jpg"
                                                                         alt="Image Client" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-member">
                                                            <h2 class="cl-name">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">Hà Hoàng Oanh</a>
                                                            </h2>
                                                            <p class="cl-job">
                                                                Thành Viên
                                                            </p>
                                                            <p class="cl-des">

                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <a class="fa fa-f"
                                                                       title="Facebook"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-t"
                                                                       title="Twitter"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-g"
                                                                       title="google"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-s"
                                                                       title="skyper"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                                <div class="item respl-item">
                                                    <div class="item-inner">
                                                        <div class="w-image-box">
                                                            <div class="item-image">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">
                                                                    <img src="~/assets/tranggioithieu/image/catalog/about/anh3.jpg"
                                                                         alt="Image Client" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-member">
                                                            <h2 class="cl-name">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">Nguyễn Quang Huy</a>
                                                            </h2>
                                                            <p class="cl-job">
                                                                Thành Viên
                                                            </p>
                                                            <p class="cl-des">

                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <a class="fa fa-f"
                                                                       title="Facebook"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-t"
                                                                       title="Twitter"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-g"
                                                                       title="google"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-s"
                                                                       title="skyper"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                                <div class="item respl-item">
                                                    <div class="item-inner">
                                                        <div class="w-image-box">
                                                            <div class="item-image">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">
                                                                    <img src="~/assets/tranggioithieu/image/catalog/about/anh4.jpg"
                                                                         alt="Image Client" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-member">
                                                            <h2 class="cl-name">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">Nguyễn Phúc Thắng </a>
                                                            </h2>
                                                            <p class="cl-job">
                                                                Thành Viên
                                                            </p>
                                                            <p class="cl-des">

                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <a class="fa fa-f"
                                                                       title="Facebook"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-t"
                                                                       title="Twitter"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-g"
                                                                       title="google"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-s"
                                                                       title="skyper"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                                <div class="item respl-item">
                                                    <div class="item-inner">
                                                        <div class="w-image-box">
                                                            <div class="item-image">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">
                                                                    <img src="~/assets/tranggioithieu/image/catalog/about/anh5.jpg"
                                                                         alt="Image Client" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-member">
                                                            <h2 class="cl-name">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">Trần Lan Anh </a>
                                                            </h2>
                                                            <p class="cl-job">
                                                                Thành Viên
                                                            </p>
                                                            <p class="cl-des">

                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <a class="fa fa-f"
                                                                       title="Facebook"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-t"
                                                                       title="Twitter"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-g"
                                                                       title="google"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-s"
                                                                       title="skyper"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="item-about col-lg-6 col-md-6 col-sm-6">
                                                <div class="item respl-item">
                                                    <div class="item-inner">
                                                        <div class="w-image-box">
                                                            <div class="item-image">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">
                                                                    <img src="~/assets/tranggioithieu/image/catalog/about/anh6.jpg"
                                                                         alt="Image Client" />
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="info-member">
                                                            <h2 class="cl-name">
                                                                <a title="Jennifer lawrence"
                                                                   href="~/assets/tranggioithieu/#">Nguyễn Hoàng Quân </a>
                                                            </h2>
                                                            <p class="cl-job">
                                                                Thành Viên
                                                            </p>
                                                            <p class="cl-des">

                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <a class="fa fa-f"
                                                                       title="Facebook"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-t"
                                                                       title="Twitter"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-g"
                                                                       title="google"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                                <li>
                                                                    <a class="fa fa-s"
                                                                       title="skyper"
                                                                       href="~/assets/tranggioithieu/#"></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12 happy-about-us"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //Main Container -->
        </div>

        <!-- Include Libs & Plugins
	============================================ -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/jquery-2.2.4.min.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/bootstrap.min.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/owl-carousel/owl.carousel.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/themejs/libs.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/unveil/jquery.unveil.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/countdown/jquery.countdown.min.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/datetimepicker/moment.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/datetimepicker/bootstrap-datetimepicker.min.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/jquery-ui/jquery-ui.min.js"
        ></script>

        <!-- Theme files
	============================================ -->

        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/themejs/application.js"
        ></script>

        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/themejs/homepage.js"
        ></script>

        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/themejs/so_megamenu.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/themejs/addtocart.js"
        ></script>
        <script
            type="text/javascript"
            src="~/assets/tranggioithieu/js/themejs/application.js"
        ></script>
    </body>

    <!--  demo.smartaddons.com/templates/html/emarket/about-us.html by AkrAm, Sat, 20 Apr 2019 20:00:27 GMT -->
</html>


