
@{
    ViewData["Title"] = "HistoryOrder";
    Layout = "~/Views/Shared/_LayoutQLBDT.cshtml";
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic page needs
    ============================================ -->
        <title>Lịch sử đặt hàng</title>
        <meta charset="utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <meta name="author" content="Magentech" />
        <meta name="robots" content="index, follow" />

        <!-- Mobile specific metas
    ============================================ -->
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />

        <!-- Favicon
    ============================================ -->

        <link rel="shortcut icon" type="image/png" href="ico/" />

        <!-- Libs CSS
    ============================================ -->
        <link
            rel="stylesheet"
            href="./assets/css/bootstrap/css/bootstrap.min.css"
        />
        <link
            href="./assets/css/font-awesome/css/font-awesome.min.css"
            rel="stylesheet"
        />
        <link
            href="js/datetimepicker/bootstrap-datetimepicker.min.css"
            rel="stylesheet"
        />
        <link
            href="./assets/js/owl-carousel/owl.carousel.css"
            rel="stylesheet"
        />
        <link href="./assets/css/themecss/lib.css" rel="stylesheet" />
        <link href="./assets/js/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
        <link href="./assets/js/minicolors/miniColors.css" rel="stylesheet" />

        <!-- Theme CSS
    ============================================ -->
        <link href="./assets/css/themecss/so_searchpro.css" rel="stylesheet" />
        <link href="./assets/css/themecss/so_megamenu.css" rel="stylesheet" />
        <link href="./assets/css/themecss/so-categories.css" rel="stylesheet" />
        <link
            href="./assets/css/themecss/so-listing-tabs.css"
            rel="stylesheet"
        />
        <link
            href="./assets/css/themecss/so-newletter-popup.css"
            rel="stylesheet"
        />

        <link href="./assets/css/footer/footer1.css" rel="stylesheet" />
        <link href="./assets/css/header/header1.css" rel="stylesheet" />
        <link
            id="color_scheme"
            href="./assets/css/theme.css"
            rel="stylesheet"
        />
        <link href="./assets/css/responsive.css" rel="stylesheet" />

        <!-- Google web fonts
    ============================================ -->
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,500i,700"
            rel="stylesheet"
            type="text/css"
        />
        <style type="text/css">
            body {
                font-family: "Roboto", sans-serif;
            }
        </style>
    </head>

    <body class="res layout-1 layout-subpage">
        <div id="wrapper" class="wrapper-fluid banners-effect-5">
            <!-- Main Container  -->
            <div class="main-container container">
                <ul class="breadcrumb">
                    <li>
                        <a href="#"><i class="fa fa-home"></i></a>
                    </li>
                    <li><a href="#">Lịch sử đặt hàng</a></li>
                </ul>

                <div class="row">
                    <!--Middle Part Start-->
                    <div id="content" class="col-sm-9">
                        <h2 class="title">Lịch sử đặt hàng</h2>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <td class="text-center">Hình ảnh</td>
                                        <td class="text-left">Tên sản phẩm</td>
                                        <td class="text-center">Mã đơn hàng</td>
                                        <td class="text-center">Số lượng</td>
                                        <td class="text-center">Tình trạng</td>
                                        <td class="text-center">Ngày mua</td>
                                        <td class="text-right">Tổng tiền</td>
                                        <td></td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-center">
                                            <a href="product.html"
                                                ><img
                                                    width="85"
                                                    class="img-thumbnail"
                                                    title="iPhone 13 Pro Max - 128GB"
                                                    alt="iPhone 13 Pro Max - 128GB"
                                                    src="./assets/images/products/ip13pm.png"
                                                />
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="product.html"
                                                >iPhone 13 Pro Max - 128GB</a
                                            >
                                        </td>
                                        <td class="text-center">#1</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">Đã giao</td>
                                        <td class="text-center">21/06/2022</td>
                                        <td class="text-right">21.890.000₫</td>
                                        <td class="text-center">
                                            <a
                                                class="btn btn-info"
                                                title=""
                                                data-toggle="tooltip"
                                                href="order-information.html"
                                                data-original-title="Xem chi tiết"
                                                ><i class="fa fa-eye"></i
                                            ></a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-center">
                                            <a href="product.html"
                                                ><img
                                                    width="85"
                                                    class="img-thumbnail"
                                                    title="Samsung Galaxy Z Fold 4 5G - RAM 12GB - 512GB"
                                                    alt="Samsung Galaxy Z Fold 4 5G - RAM 12GB - 512GB"
                                                    src="./assets/images/products/ss_z_fold4_5g.png"
                                                />
                                            </a>
                                        </td>
                                        <td class="text-left">
                                            <a href="product.html"
                                                >Samsung Galaxy Z Fold 4 5G -
                                                RAM 12GB - 512GB</a
                                            >
                                        </td>
                                        <td class="text-center">#2</td>
                                        <td class="text-center">1</td>
                                        <td class="text-center">Đã giao</td>
                                        <td class="text-center">20/06/2022</td>
                                        <td class="text-right">32.690.000₫</td>
                                        <td class="text-center">
                                            <a
                                                class="btn btn-info"
                                                title=""
                                                data-toggle="tooltip"
                                                href="order-information.html"
                                                data-original-title="Xem chi tiết"
                                                ><i class="fa fa-eye"></i
                                            ></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!--Middle Part End-->
                </div>
            </div>
            <!-- //Main Container -->
        </div>

        <!-- Include Libs & Plugins
	============================================ -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script
            type="text/javascript"
            src="./assets/js/jquery-2.2.4.min.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/bootstrap.min.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/owl-carousel/owl.carousel.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/themejs/libs.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/unveil/jquery.unveil.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/countdown/jquery.countdown.min.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/datetimepicker/moment.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/datetimepicker/bootstrap-datetimepicker.min.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/jquery-ui/jquery-ui.min.js"
        ></script>

        <!-- Theme files
	============================================ -->

        <script
            type="text/javascript"
            src="./assets/js/themejs/so_megamenu.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/themejs/addtocart.js"
        ></script>
        <script
            type="text/javascript"
            src="./assets/js/themejs/application.js"
        ></script>
    </body>
</html>


