@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutQLBDT";
}

            
 <!-- begin banner -->
    @await Html.PartialAsync("_PartialBanner")
<!-- end banner -->

<!-- danh sách điện thoại -->
<div class="row mt-4 mt-3">
    <div class="col-md-3">
        <div class="home-block-inner">
            <div class="block-title">
                <h2>Bán chạy nhất</h2>
            </div>
            <!--block-title-->
            <div class="pretext">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Curabitur eu odio non
                justo euismod congue ut nec orci.
            </div>
            <a
                class="view_more_bnt"
                href="http://mas1.magikthemes.com/index.php/bolt/bolt_bestseller_product_list"
                >hiện tất cả</a
            >
        </div>
    </div>

    <div class="col-md-9">
        <div class="bottom_header-left">
            <div class="" style="
                                display: flex;
                                align-items: center;
                                column-gap: 10px;
                            ">
                <input type="text" class="form-control" style="height: 100%" placeholder="Search..." fdprocessedid="c8ff7m">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit" fdprocessedid="nzvmk">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <ul class="products-grid first last odd">
          
            <li
                class="item col-lg-4 col-md-4 col-sm-4 col-xs-6"
            >
                <div class="item-inner">
                    <div class="item-img">
                        <div class="item-img-info">
                            <a
                                href="#"
                                title="Moto G5 Plus"
                                class="product-image"
                            >
                                <img
                                    id="product-collection-image-446"
                                    class="img-responsive"
                                    src="~/assets/images/products/ip13pm.png"
                                    alt="Moto G5 Plus"
                                />
                            </a>
                            <div class="box-hover">
                                <ul class="add-to-links">
                                    <li>
                                        <a
                                            rel="nofollow"
                                            href="#"
                                            data-fancybox-type="iframe"
                                            class="magik-btn-quickview link-quickview"
                                            >Quick View</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="#"
                                            class="link-wishlist"
                                            title="Add to Wishlist"
                                            >Wishlist</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            href="#"
                                            class="link-compare"
                                            title="Add to Compare"
                                            >Compare</a
                                        >
                                    </li>
                                </ul>
                                <!--add-to-links-->
                            </div>
                            <!--box-hover-->
                        </div>
                        <!--item-img-info-->
                    </div>
                    <!--item-img-->
                    <div class="item-info">
                        <div class="info-inner">
                            <div class="item-title">
                                <a href="#" title="Moto G5 Plus"
                                    >Moto G5 Plus</a
                                >
                            </div>
                            <!--item-title-->
                            <div class="item-content">
                                <div class="ratings">
                                    <div class="rating-box">
                                        <div
                                            style="width: 0%"
                                            class="rating"
                                        ></div>
                                    </div>
                                </div>
                                <div class="item-Giá">
                                    <div class="Giá-box">
                                        <span
                                            class="regular-Giá"
                                            ><span class="Giá"
                                                >$300.00</span
                                            ></span
                                        >
                                    </div>
                                </div>
                                <!--item-Giá-->
                                <div class="action">
                                    <button
                                        type="button"
                                        title="Thêm giỏ hàng"
                                        class="button btn-cart"
                                    >
                                        <span
                                            >Thêm giỏ hàng</span
                                        >
                                    </button>
                                </div>
                                <!--action-->
                            </div>
                            <!--item-content-->
                        </div>
                        <!--info-inner-->
                    </div>
                    <!--item-info-->
                </div>
                <!--item-inner-->
            </li>

        </ul>
    </div>
</div>
<div class="row mt-4">
    <div class="col-md-3 mt-5">
        <div class="home-block-inner">
            <div class="block-title">
                <h2>Bán chạy nhất</h2>
            </div>
            <!--block-title-->
            <div class="pretext">
                Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Curabitur eu odio non
                justo euismod congue ut nec orci.
            </div>
            <a
                class="view_more_bnt"
                href="http://mas1.magikthemes.com/index.php/bolt/bolt_bestseller_product_list"
                >hiện tất cả</a
            >
        </div>
    </div>
    <div class="col-md-9">
        
    </div>
</div>

