@{
    ViewData["Title"] = "Trang phụ kiện điện thoại";
    Layout = "_LayoutQLBDT";
}


   <!-- Begin main -->
    <div id="main">
        <div class="container" style="margin-top: 40px;">
            <div class="row">
                <div class="col-sm-9 col-sm-push-3">
                    <div class="col-main">
                        <h2 class="page-heading">
                            <span class="page-heading-title">Phụ kiện</span>
                        </h2>
                        <div class="top-toolbar">
                            <div class="toolbar">
                                <div class="sorter">
                                    <div class="view-mode">
                                        <span title="Grid" class="button button-active button-grid ">&nbsp;</i></span>
                                        <a href="#" title="List" class="button-list ">&nbsp;</a>
                                    </div>
                                </div>
                                <div id="sort-by">
                                        <ul>
                                        <label class="left">Sắp xếp:</label>
                                            <li>
                                                <a href="#">Vị trí <i class="fas fa-caret-down"></i></i></a>           
                                                <ul>
                                                    <li>
                                                        <a href="#">Vị trí</a>
                                                    </li>  
                                                    <li>
                                                        <a href="#">Tên</a>
                                                    </li>
                                                    <li>
                                                        <a href="#">Giá</a>
                                                    </li>
                                                </ul>
                                            </li>          
                                        </ul>
                        
                                    <a class="button-asc left" href="#" title="Set Ascending Direction"><i class="fas fa-arrow-up"></i></a>
                                </div>
                                
                                <div class="pager">
                                    <div id="limiter">
                                    <ul>
                                    <label>View: </label>
                                    <li>
                                        <a href="#">12<span class="right-arrow"></span></a>
                                            <ul>
                                                <li>
                                                <a href="#">12</a>
                                                </li>     
                                                <li>
                                                <a href="#">24</a>
                                                </li>        
                                                <li>
                                                <a href="#">36</a>
                                                </li> 
                                            </ul> 
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                                <!-- end pager -->
                            </div>
                        </div>
                        <!-- end top toolbar  -->
                        <!-- begin products  -->
                        <div class="category-products">
                            <ul class="products-grid first last odd">       
                                <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Ốp lưng iPhone 12 Pro Max" class="product-image">
                                    <img id="product-collection-image-445" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/o/p/op-lung-iphone-12-pro-_max-raptic-shield-pro-magnet-6.png" alt="Ốp lưng iPhone 12 Pro Max">
                                  </a>
                                <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                    </ul><!--add-to-links-->
                                </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                               <div class="info-inner">
                                 <div class="item-title">
                                    <a href="#" title="Galaxy Note S5">Ốp lưng iPhone 12 Pro Max</a>
                                 </div><!--item-title-->
                                        <div class="item-content">
                                          <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                            <div class="item-Giá">
                                              <div class="Giá-box">
                                                <span class="regular-Giá">
                                                <span class="Giá">$12.00</span>
                                              </div>
                                            </div><!--item-Giá-->
                                            <div class="action">
                                              <button type="button" title="Thêm giỏ hàng" class="button btn-cart"><span>Thêm giỏ hàng</span></button>
                                            </div><!--action-->
                                          </div><!--item-content-->
                                      </div><!--info-inner-->
                                    </div><!--item-info-->
                                  </div><!--item-inner-->
                          </li>
                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Apple AirTag Chính hãng" class="product-image">
                                    <img id="product-collection-image-446" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/a/i/airtag.jpg" alt="Apple AirTag Chính hãng">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                        <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                        <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                        <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title">
                                    <a href="#" title="Moto G5 Plus">Apple AirTag Chính hãng</a>
                                  </div><!--item-title-->
                                        <div class="item-content">
                                          <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                          <div class="item-Giá">
                                            <div class="Giá-box">
                                              <span class="regular-Giá"><span class="Giá">$300.00</span></span>
                                            </div>
                                          </div><!--item-Giá-->
                                          <div class="action">
                                            <button type="button" title="Thêm giỏ hàng" class="button btn-cart"><span>Thêm giỏ hàng</span></button>
                                          </div><!--action-->
                                        </div><!--item-content-->
                                      </div><!--info-inner-->
                                    </div><!--item-info-->
                                </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Tai nghe Apple EarPods Lightning" class="product-image">
                                    <img id="product-collection-image-447" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/f/r/frame_3_3.png" alt="Tai nghe Apple EarPods Lightning">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title">
                                    <a href="#" title="Tai nghe Apple EarPods Lightning">Tai nghe Apple EarPods Lightning</a>
                                  </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá">
                                        <span class="Giá">$200.00</span></span>
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart" ><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                  </div><!--item-content-->
                                </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Tai nghe Bluetooth Apple AirPods 2" class="product-image">
                                    <img id="product-collection-image-448" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/g/r/group_169_2.png" alt="Tai nghe Bluetooth Apple AirPods 2">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title">
                                    <a href="#" title="Tai nghe Bluetooth Apple AirPods 2">Tai nghe Bluetooth Apple AirPods 2</a>
                                  </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá"><span class="Giá">$250.00</span></span>
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart" ><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                 </div><!--item-content-->
                               </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Thẻ nhớ SanDisk Class 10 128GB" class="product-image">
                                    <img id="product-collection-image-449" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/s/d/sd128gb_2.jpg" alt="Thẻ nhớ SanDisk Class 10 128GB">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                                             
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                                <div class="info-inner">
                                  <div class="item-title">
                                    <a href="#" title="Thẻ nhớ SanDisk Class 10 128GB">Thẻ nhớ SanDisk Class 10 128GB</a>
                                  </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá"><span class="Giá">$35.00</span></span>       
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart"><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                 </div><!--item-content-->
                               </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="USB 3.0 Sandisk CZ73 Ultra Flair 16GB" class="product-image">
                                    <img id="product-collection-image-450" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/u/s/usb-3-0-sandisk-cz73-ultra-flair-16gb-1.jpeg" alt="USB 3.0 Sandisk CZ73 Ultra Flair 16GB">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>    
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                               <div class="info-inner">
                                  <div class="item-title">
                                    <a href="#" title="USB 3.0 Sandisk CZ73 Ultra Flair 16GB">USB 3.0 Sandisk CZ73 Ultra Flair 16GB</a>
                                  </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá"><span class="Giá">$45.00</span></span>            
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart" ><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                 </div><!--item-content-->
                               </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Pin dự phòng Energizer 20.000 mAh" class="product-image">
                                    <img id="product-collection-image-463" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/1/0/10_76.png" alt="Pin dự phòng Energizer 20.000 mAh">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                        <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                        <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                        <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                               <div class="info-inner">
                                 <div class="item-title">
                                    <a href="#" title="Pin dự phòng Energizer 20.000 mAh">Pin dự phòng Energizer 20.000 mAh</a>
                                 </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá"><span class="Giá">$50.00</span></span>      
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart" ><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                 </div><!--item-content-->
                               </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Kính cường lực Samsung Galaxy S23 Ultra" class="product-image">
                                    <img id="product-collection-image-464" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/0/5/05_1_4.jpg" alt="Kính cường lực Samsung Galaxy S23 Ultra">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>     
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                               <div class="info-inner">
                                 <div class="item-title">
                                    <a href="#" title="Kính cường lực Samsung Galaxy S23 Ultra">Kính cường lực Samsung Galaxy S23 Ultra</a>
                                 </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá"><span class="Giá">$20.00</span></span>       
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart"><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                 </div><!--item-content-->
                               </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>

                          <li class="item col-lg-4 col-md-4 col-sm-4 col-xs-6">
                            <div class="item-inner">
                              <div class="item-img">
                                <div class="item-img-info">
                                  <a href="#" title="Miếng dán bảo vệ camera iPhone 14 Pro" class="product-image">
                                    <img id="product-collection-image-465" class="img-responsive" src="https://cdn2.cellphones.com.vn/358x358,webp,q100/media/catalog/product/4/7/47-removebg-preview.png" alt="Miếng dán bảo vệ camera iPhone 14 Pro">
                                  </a>
                                  <div class="box-hover">
                                    <ul class="add-to-links">
                                      <li><a rel="nofollow" href="#" data-fancybox-type="iframe" class="magik-btn-quickview link-quickview">Quick View</a></li>
                                      <li><a href="#" class="link-wishlist" title="Add to Wishlist">Wishlist</a></li>
                                      <li><a href="#" class="link-compare" title="Add to Compare">Compare</a></li>
                                    </ul><!--add-to-links-->
                                  </div><!--box-hover-->
                                </div><!--item-img-info-->
                              </div><!--item-img-->
                              <div class="item-info">
                               <div class="info-inner">
                                 <div class="item-title">
                                    <a href="#" title="Miếng dán bảo vệ camera iPhone 14 Pro">Miếng dán bảo vệ camera iPhone 14 Pro</a>
                                 </div><!--item-title-->
                                  <div class="item-content">
                                    <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                    <div class="item-Giá">
                                      <div class="Giá-box">
                                        <span class="regular-Giá"><span class="Giá">$750.00</span></span>       
                                      </div>
                                    </div><!--item-Giá-->
                                    <div class="action">
                                      <button type="button" title="Thêm giỏ hàng" class="button btn-cart"><span>Thêm giỏ hàng</span></button>
                                    </div><!--action-->
                                 </div><!--item-content-->
                               </div><!--info-inner-->
                              </div><!--item-info-->
                            </div><!--item-inner-->
                          </li>
                        </ul>
                      </div>
                        <!-- end products  -->
                        <!-- begin bottom toolbar -->
                        <div class="bottom-toolbar">
                          <div class="toolbar">
                              <div class="sorter">
                                  <div class="view-mode">
                                      <span title="Grid" class="button button-active button-grid ">&nbsp;</i></span>
                                      <a href="#" title="List" class="button-list ">&nbsp;</a>
                                  </div>
                              </div>
                              <div id="sort-by">
                                      <ul>
                                      <label class="left">Sort By:</label>
                                          <li>
                                              <a href="#">Vị trí <i class="fas fa-caret-down"></i></i></a>           
                                              <ul>
                                                  <li>
                                                      <a href="#">Vị trí</a>
                                                  </li>  
                                                  <li>
                                                      <a href="#">Tên</a>
                                                  </li>
                                                  <li>
                                                      <a href="#">Giá</a>
                                                  </li>
                                              </ul>
                                          </li>          
                                      </ul>
                      
                                  <a class="button-asc left" href="#" title="Set Ascending Direction"><i class="fas fa-arrow-up"></i></a>
                              </div>
                              
                              <div class="pager">
                                  <div id="limiter">
                                  <ul>
                                  <label>View: </label>
                                  <li>
                                      <a href="#">12<span class="right-arrow"></span></a>
                                          <ul>
                                              <li>
                                              <a href="#">12</a>
                                              </li>     
                                              <li>
                                              <a href="#">24</a>
                                              </li>        
                                              <li>
                                              <a href="#">36</a>
                                              </li> 
                                          </ul> 
                                      </li>
                                  </ul>
                                  </div>
                              </div>
                              <!-- end pager -->
                          </div>
                      </div>
                        <!-- end bottom tool bar  -->
                    </div>
                    <!-- end col main  -->
                </div>
                <!-- begin side nav  -->
                <aside class="col-left sidebar col-sm-3 col-xs-12 col-sm-pull-9 wow bounceInUp animated animated" style="visibility: visible;">
                  <div class="side-nav-categories">
                  <div class="block-title">Danh mục sản phẩm</div> 
                  <div class="box-content box-category">
                  <ul>
                    <li><a href="#">Smartphones</a>
                    <span class="subDropdown plus"></span> 
                    <ul class="level0_2022" style="display:none">
                      <li class="level1">
                        <a href="#">Samsung</a>
                        <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li class="level2">
                            <a href="#">Galaxy G7</a>
                          </li> <!--level2-->
                          <li class="level2">
                            <a href="#">Nexon J3 Pro</a>
                          </li> <!--level2-->
                          <li class="level2">
                            <a href="#">Prime Gold J2</a>
                          </li> <!--level2-->
                          <li class="level2">
                            <a href="#">Samsung M2 Pro</a>
                          </li> <!--level2-->
                        </ul> <!--level1-->
                      </li><!--level1-->

                      <li class="level1">
                        <a href="#">Sony</a>
                        <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li class="level2"><a href="#">Xperia XA Dual</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Graphite Black</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Ultra Dual G5</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Premium Xperia Z5 Dual</a>
                          </li> <!--level2-->
                        </ul> <!--level1-->
                      </li><!--level1-->

                      <li class="level1">
                        <a href="#">Apple</a>
                        <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li class="level2"><a href="#">iPhone 7 Plus</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">iPhone 6s</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">iPhone SE</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">iPhone 4</a>
                          </li> <!--level2-->
                        </ul> <!--level1-->
                      </li><!--level1-->
                      
                      <li class="level1">
                        <a href="#">Lenovo</a>
                        <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li class="level2"><a href="#">Thẻ nhớ SanDisk Class 10 128GB</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Note P4</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">K6 Power</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">A600 Shoot</a>
                          </li> <!--level2-->
                        </ul> <!--level1-->
                      </li><!--level1-->
                                            
                      <li class="level1">
                        <a href="#">Motorola</a>
                        <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li class="level2"><a href="#">Moto E4 Plus</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Moto G2</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Moto G5 Pro</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Moto Z Gold</a>
                          </li> <!--level2-->
                        </ul> <!--level1-->
                      </li><!--level1-->
                                            
                      <li class="level1">
                        <a href="#">HTC</a>
                        <span class="subDropdown plus"></span>
                        <ul class="level1" style="display:none">
                          <li class="level2"><a href="#">Desire 640</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Sprinkle Pro</a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">Desire 526G Plus </a>
                          </li> <!--level2-->
                          <li class="level2"><a href="#">HTC Stone Black</a>
                          </li> <!--level2-->
                        </ul> <!--level1-->
                      </li><!--level1-->
                    </ul><!--level0-->
                  </li><!--level 0-->

                  <li class="mega-menu">
                    <a class="active" href="#"><span>Phụ kiện</span></a>
                  </div><!--box-content box-category-->
                  </div><!--side-nav-categories-->
                  
                  <div class="hot-banner"><img src="~/assets/images/products/hot-trends-banner.jpg" alt="banner"></div><div class="block block-list block-cart">
                          <div class="block-title">
                         
                              Giỏ hàng            
                      </div>
                      <div class="block-content">
                                          <p class="empty">Giỏ hàng trống.</p>
                          </div>
                  </div>
                  
                  <div class="block block-compare">
                      <div class="block-title">
                              So sánh sản phẩm           
                                      
                      </div>
                      <div class="block-content">
                              <p class="empty">Không có sản phẩm nào để so sánh.</p>
                          </div><!--block-content-->
                  </div><!--block block-list block-compare-->
                  
                  <div class="custom-slider">
                  <div>
                  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel"><ol class="carousel-indicators">
                  <li class="" data-target="#carousel-example-generic" data-slide-to="0"></li>
                  <li data-target="#carousel-example-generic" data-slide-to="1" class=""></li>
                  <li data-target="#carousel-example-generic" data-slide-to="2" class="active"></li>
                  </ol>
                  <div class="carousel-inner">
                                <div class="item">
                                    <img src="~/assets/images/products/slide1.jpg" alt="slide3">
                  <div class="carousel-caption">
                  <h3><a title=" Sample Product" href="product-detail.html">50% OFF</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  <a class="link" href="#">Buy Now</a></div>
                  </div>
                                <div class="item">
                                    <img src="~/assets/images/products/slide2.jpg" alt="slide1">
                  <div class="carousel-caption">
                  <h3><a title=" Sample Product" href="product-detail.html">Hot collection</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                  </div>
                  <div class="item active"><img src="~/assets/images/products/slide3.jpg" alt="slide2">
                  <div class="carousel-caption">
                  <h3><a title=" Sample Product" href="product-detail.html">Summer collection</a></h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                  </div>
                  </div>
                  </div>
                  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev"> <span class="sr-only">Previous</span> </a> <a class="right carousel-control" href="#carousel-example-generic" data-slide="next"> <span class="sr-only">Next</span> </a></div>
                  </div>
                  </div>                 
                </aside>
                <!-- end aside  -->
            </div>
        </div>
    </div>