@{
    ViewData["Title"] = "Chi tiết điện thoại";
    Layout = "_LayoutQLBDT";
}

<!-- Begin main --><div class="main">
    <div class="container">
        <div class="row">
            <div class="col-main">
                <div class="product-view col-lg-12">
                    <form action="#" method="post" class="product-addtocart-form">
                        <div class="row">

                            <div class="product-img-box col-lg-4 col-sm-5 col-xs-12">

                                <div class="product-image">
                                    <div class="product-full">
                                        <img itemprop="image" id="product-zoom" src="~/assets/images/products/ip14prm.jpg" alt="Iphone 14 PRM" title="Iphone 14 PRM">
                                    </div><!--product-full-->
                                    <div class="more-views">
                                        <div class="slider-items-products">
                                            <div id="gallery_01" class="product-flexslider hidden-buttons product-img-thumb">
                                                <div class="slider-items slider-width-col4 block-content owl-carousel owl-theme" style="opacity: 1; display: block;">
                                                    <div class="owl-wrapper-outer">
                                                        <div class="owl-wrapper" style="width: 940px; left: 0px; display: block; transition: all 500ms ease 0s; transform: translate3d(-188px, 0px, 0px);">
                                                            <div class="owl-item" style="width: 94px;">
                                                                <div class="more-views-items">
                                                                    <a href="#">
                                                                        <img id="product-zoom" src="~/assets/images/products/ip14_1.jpg">
                                                                    </a>
                                                                </div>
                                                            </div><div class="owl-item" style="width: 94px;">
                                                                <div class="more-views-items">
                                                                    <a href="">
                                                                        <img id="product-zoom" src="~/assets/images/products/ip14_2.jpg">
                                                                    </a>
                                                                </div>
                                                            </div><div class="owl-item" style="width: 94px;">
                                                                <div class="more-views-items">
                                                                    <a href="">
                                                                        <img id="product-zoom" src="~/assets/images/products/ip14_3.jpg">
                                                                    </a>
                                                                </div>
                                                            </div><div class="owl-item" style="width: 94px;">
                                                                <div class="more-views-items">
                                                                    <a href="">
                                                                        <img id="product-zoom" src="~/assets/images/products/ip14prm.jpg">
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-controls clickable"><div class="owl-buttons"><div class="owl-prev"><a class="flex-prev"><i class="fas fa-chevron-left"></i></a></div><div class="owl-next"><a class="flex-next"><i class="fas fa-chevron-right"></i></a></div></div></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!--product-image-->


                                <div class="clear"></div>
                            </div>
                            <div class="product-info product-shop col-lg-8 col-sm-7 col-xs-12">
                                <h1 class="product-name">
                                    Iphone 14 Pro Max</h2>
                                    <p class="product-rating">Be the first to review this product.</p>
                                    <div class="price-box">
                                        <span class="price">Giá: <span class="regular-price">24.990.000</span> VNĐ</span>
                                        <p class="availability">Tình trạng: <span class="in-stock"><i class="fas fa-check"></i> Còn hàng</span></p>
                                    </div>
                                    <div class="add-to-box">
                                        <div class="add-to-cart">
                                            <div class="pull-left" style="display: inline;">

                                                <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty ) && qty > 1 ) result.value--;return false;" class="reduced items-count" type="button"><i class="fa fa-minus"></i></button>

                                                <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Quantity:" class="input-text qty">

                                                <button onclick="var result = document.getElementById('qty'); var qty = result.value; if( !isNaN( qty )) result.value++;return false;" class="increase items-count" type="button"><i class="fa fa-plus"></i></button>



                                            </div>
                                            <button style="display: inline;" type="button" title="Thêm vào giỏ hàng" class="btn-cart" onclick="productaddtocartform.submit(this)"><i class="fas fa-cart-plus"></i><span class="add-to-text"> Thêm vào giỏ</span></button>
                                        </div>
                                        <!-- Thêm giỏ hàng end  -->
                                        <div class="email-addto-box">


                                            <p class="email-friend"><a href="#" title="Chia sẻ sản phẩm"><i class="fas fa-share"></i></a></p>


                                            <ul class="add-to-links">
                                                <li>
                                                    <a class="link-wishlist" href="#" title="Thêm vào Wishlist"><i class="fas fa-heart"></i></a>
                                                </li>
                                                <li>
                                                    <span class="separator">|</span>

                                                    <a class="link-compare" href="#" title="So sánh sản phẩm"><i class="fas fa-chart-bar"></i></a>
                                                </li>
                                            </ul>

                                        </div>
                                    </div>
                            </div>
                            <div class="">
                                <div class="product-details">
                                    <h4 class="box-title">Thông tin sản phẩm</h4>
                                    <div class="box-content">
                                        <div class="row">
                                            <p class="col-lg-12">
                                                <i class="fas fa-mobile-alt" style="font-size: 18px;margin: 4px;"></i>
                                                Máy mới 100% , chính hãng Apple Việt Nam.
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="col-lg-12">
                                                <i class="fas fa-box-open" style="font-size: 16px;"></i>
                                                Hộp, Sách hướng dẫn, Cây lấy sim, Cáp Lightning - Type C
                                            </p>
                                        </div>
                                        <div class="row">
                                            <p class="col-lg-12">
                                                <i class="fas fa-shield-alt" style="font-size: 16px;margin: 2px;"></i>
                                                1 ĐỔI 1 trong 30 ngày nếu có lỗi phần cứng nhà sản xuất. Bảo hành 12 tháng tại trung tâm bảo hành chính hãng Apple : Điện Thoại Vui ASP (Apple Authorized Service Provider)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- end product detail  -->
                            <div class="product-specs">
                                <h4 class="box-title">Thông số kỹ thuật</h4>
                                <ul class="specs list-group list-group-striped">
                                    <li class="spec-item list-group-item">
                                        <p>Kích thước màn hình</p>
                                        <div>6.7 inches</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Công nghệ màn hình</p>
                                        <div>Super Retina XDR OLED</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Camera sau</p>
                                        <div>
                                            Camera chính: 48 MP, f/1.8, 24mm, 1.22µm, PDAF, OIS
                                            Camera góc siêu rộng: 12 MP, f/2.2, 13mm, 120˚, 1.4µm, PDAF
                                            Camera tele: 12 MP, f/2.8, 77mm (telephoto), PDAF, OIS, 3x optical zoom
                                            Cảm biến độ sâu TOF 3D LiDAR
                                        </div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Camera trước</p>
                                        <div>Camera selfie: 12 MP, f/1.9, 23mm, 1/3.6", PDAF</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Chipset</p>
                                        <div>Apple A16 Bionic 6-core</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Dung lượng RAM</p>
                                        <div>6 GB</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Bộ nhớ trong</p>
                                        <div>128 GB</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Pin</p>
                                        <div>4.352 mAh</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Thẻ SIM</p>
                                        <div>2 SIM (nano‑SIM và eSIM)</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Hệ điều hành</p>
                                        <div>iOS 16</div>
                                    </li>
                                    <li class="spec-item list-group-item">
                                        <p>Tính năng màn hình</p>
                                        <div>ProMotion 120Hz</div>
                                    </li>
                                </ul>
                            </div>
                            <!-- end product specs  -->
                            <div class="comment-form">
                                <h4 class="box-title">Bình luận</h4>
                                <div class="cmt-box">
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>N</span>
                                                </div>
                                                <p class="user-name">Nguyễn Văn A</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>1 giờ trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Sản phẩm này đắt quá.</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>T</span>
                                                </div>
                                                <p class="user-name">Trung</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>2 giờ trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Cho mình xin giá IP14 promax 256gb</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>N</span>
                                                </div>
                                                <p class="user-name">Nguyễn Hà</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>6 giờ trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Chi nhánh nào còn hàng ạ?</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>
                                    <div class="row comment-item">
                                        <div class="box-info">
                                            <div class="user-info">
                                                <div class="user-avatar">
                                                    <span>N</span>
                                                </div>
                                                <p class="user-name">Vân Anh</p>
                                            </div>
                                            <div class="comment-date">
                                                <i class="fas fa-clock"></i>
                                                <p>1 ngày trước</p>
                                            </div>
                                        </div>
                                        <div class="comment-content ">
                                            <p>Đẹp</p>
                                            <span class="reply"><a href=""><i class="fas fa-share"></i>Trả lời</a></span>
                                        </div>
                                    </div>


                                </div>
                            </div>
                            <!-- end comment  -->
                            <div id="related-products-slider" class="product-flexslider hidden-buttons">

                                <div class="home-block-inner">
                                    <div class="block-title">
                                        <h2 class="box-title">Sản phẩm tương tự</h2>
                                    </div>
                                    <div class="pretext">Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum has been the industry's standard dummy text ever since the 1500s when an unknown printer took a galley of type and scrambled it to make a type specimen book It has survived not only five centurie</div>
                                </div> <!--home-block-inner-->
                                <div class="slider-items slider-width-col4 products-grid block-content owl-carousel owl-theme" style="opacity: 1; display: block;">

                                    <div class="owl-wrapper-outer">
                                        <div class="owl-wrapper" style="width: 3040px; left: 0px; display: block; transition: all 0ms ease 0s; transform: translate3d(0px, 0px, 0px);">
                                            <div class="owl-item" style="width: 304px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a class="product-image" href="#" title="Grand Mega Neo Plus"><img class="img-responsive" alt="Grand Mega Neo Plus" src="~/assets/images/products/phone1.jpg"></a>

                                                            </div><!--item-img-info-->
                                                        </div><!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a href="#" title="Grand Mega Neo Plus">Grand Mega Neo Pl...</a>
                                                                </div><!--item-title-->
                                                                <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">5.560.000 VNĐ</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="action">
                                                                        <button type="button" title="Thêm giỏ hàng" class="button btn-cart"><span>Thêm giỏ hàng</span></button>
                                                                    </div><!--action-->
                                                                </div><!--item-content-->
                                                            </div><!--info-inner-->
                                                        </div><!--item-info-->
                                                    </div><!--item-inner-->
                                                </div>
                                            </div><div class="owl-item" style="width: 304px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a class="product-image" href="#" title="Aqua Crystal Plus"><img class="img-responsive" alt="Aqua Crystal Plus" src="~/assets/images/products/phone1.jpg"></a>

                                                            </div><!--item-img-info-->
                                                        </div><!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a href="#" title="Aqua Crystal Plus">
                                                                        Aqua Crystal Plus
                                                                    </a>
                                                                </div><!--item-title-->
                                                                <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">13.650.000 VNĐ</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="action">
                                                                        <button type="button" title="Thêm giỏ hàng" class="button btn-cart">
                                                                            <span>Thêm giỏ hàng</span>
                                                                        </button>
                                                                    </div><!--action-->
                                                                </div><!--item-content-->
                                                            </div><!--info-inner-->
                                                        </div><!--item-info-->
                                                    </div><!--item-inner-->
                                                </div>
                                            </div><div class="owl-item" style="width: 304px;">
                                                <div class="item">
                                                    <div class="item-inner">
                                                        <div class="item-img">
                                                            <div class="item-img-info">
                                                                <a class="product-image" href="#" title="MoreGMax PocketSurfer"><img class="img-responsive" alt="MoreGMax PocketSurfer" src="~/assets/images/products/phone1.jpg"></a>
                                                            </div><!--item-img-info-->
                                                        </div><!--item-img-->
                                                        <div class="item-info">
                                                            <div class="info-inner">
                                                                <div class="item-title">
                                                                    <a href="#" title="MoreGMax PocketSurfer">
                                                                        MoreGMax PocketSu...
                                                                    </a>
                                                                </div><!--item-title-->
                                                                <div class="ratings"><div class="rating-box"><div style="width:0%" class="rating"></div></div></div>
                                                                <div class="item-content">
                                                                    <div class="item-price">
                                                                        <div class="price-box">
                                                                            <span class="regular-price">
                                                                                <span class="price">3.290.000 VNĐ</span>
                                                                            </span>
                                                                        </div>
                                                                    </div>
                                                                    <div class="action">
                                                                        <button type="button" title="Thêm giỏ hàng" class="button btn-cart">
                                                                            <span>Thêm giỏ hàng</span>
                                                                        </button>
                                                                    </div><!--action-->
                                                                </div><!--item-content-->
                                                            </div><!--info-inner-->
                                                        </div><!--item-info-->
                                                    </div><!--item-inner-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- end related product  -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
              