@model codeBTL.Models.Chitietddh
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "AddOrdersDetails";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <h3 class="tile-title">Tạo mới chi tiết đơn đặt hàng</h3>
            <div class="tile-body">
                <form asp-action="AddOrdersDetails" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group col-md-4">
                        <label asp-for="MaSp" class="control-label"></label>
                        <select asp-for="MaSp" class="form-control" asp-items="ViewBag.MaSp"></select>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="MaDh" class="control-label"></label>
                        <input asp-for="MaDh" class="form-control" value="@ViewBag.MaDH" />
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="KhuyenMai" class="control-label"></label>
                        <input asp-for="KhuyenMai" class="form-control" />
                        <span asp-validation-for="KhuyenMai" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-4">
                        <label asp-for="Sldat" class="control-label"></label>
                        <input asp-for="Sldat" class="form-control" />
                        <span asp-validation-for="Sldat" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <input type="submit" value="Lưu lại" class="btn btn-save" />
                        <a class="btn btn-cancel" asp-controller="OrderAdmin" asp-action="GetAllOrders">Hủy bỏ</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




