@model IEnumerable<Loaisp>
<style>
    li a.active {
        color: #0aa2ee !important;
		letter-spacing: 1px !important;
    }
    li.level1:hover {
        background-color: #ddd;
    }
</style>
@foreach (var item in Model){
    var active = "";
    if (ViewBag.TenLoai == item.TenLoai)
    {
        active = "active";
    }
    <li class="level1">
        <a class="@active" asp-controller="Home" asp-action="PhoneAccessories" asp-route-maLoai="@item.MaLoai" asp-route-pageSize="@ViewBag.psz">@item.TenLoai</a>
        </li>
}